<div>
<%= @profile.name %>

<%= @profile.username %>

<%= @profile.user.email %>
</div>

<%= link_to 'Edit Profile', edit_profile_path(@profile)  %>
<br><br>
<%= button_to 'Delete Account', @profile, method: :delete,
data: { turbo_confirm: "Are you sure?"}  %>


<h3>Create Post</h3>

<%= render 'posts/form', post: @post %>

<br>
<h3>Your Posts</h3>

<% @posts.each do |post|%>
<ul>
    <li><%= post.content %>
    <%= button_to 'Delete Post', post, method: :delete,
    data: {turbo_confirm: "Are you sure"} %>
    </li>
</ul>
<% end %>

<br>
<%= link_to 'Back to Home', root_path %>