<h1>Posts</h1>

<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-card">
      <div class="post-header">
        <p><strong><%= post.content %></strong></p>
        Likes: <%= post.likes.count %>
        <p>
          by 
          <%= link_to post.user.profile.name, profile_path(post.user.profile), class: "author-link" %> 
          · <span class="post-date"><%= post.created_at.strftime("%B %d, %Y") %></span>
        </p>
      </div>

      <% if post.comments.any? %>
        <div class="comments-section">
          <h4>Comments</h4>
          <% post.comments.each do |comment| %>
            <div class="comment-card">
              <p>
                <%= comment.comment %>
              </p>
              <p class="comment-meta">
                — <%= comment.user.profile.name %>
              </p>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="no-comments">No comments yet.</p>
      <% end %>
    </div>

<% if current_user.likes.exists?(post_id: post.id) %>
    unlike
<% else %>
    <%= button_to 'Like', like_post_path(post), method: "POST" %>
<% end%>


    Create new comment!
    <br> <br>
    <%= form_for([post, post.comments.build]) do |f| %>
    <div>
        <%= f.label :comment %><br>
        <%= f.text_field :comment, placeholder: "New comment" %>
    </div>
        <%= f.hidden_field :user_id, value: current_user.id %>
    <div>
        <%= f.submit 'Create' %>
    </div>

    <% end %>

  <% end %>
</div>


<br>
<%= link_to 'Home', root_path %>